<h1>New Craft</h1>

<% if @craft.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@craft.errors.count, "error") %> prohibited this craft from being saved:</h2>
 
    <ul>
    <% @craft.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @craft do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Description" %>
  <%= f.text_area :description %><br>
  <%= f.label "Method" %>
  <%= f.text_field :method %><br>
  <%= f.label "Source" %>
  <%= f.text_field :source %><br>

  <h3>Materials</h3><br>
  
  <%= f.fields_for :craft_materials do |cm| %>
      <%= cm.fields_for :material do |mat| %>
        <p>Or add a new material
        <%= mat.label "Name:" %>
        <%= mat.text_field :name %></p>
      <% end %>
    
    <%=  cm.label "Quantity" %>
    <%=  cm.text_field :quantity %><br>
  <% end %>
  
  <br>  
  <%= f.submit %>  
<% end %>

