<h1>New Craft</h1>

<%= form_for @craft do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Description" %>
  <%= f.text_area :description %><br>
  <%= f.label "Method" %>
  <%= f.text_field :method %><br>
  <%= f.label "Source" %>
  <%= f.text_field :source %><br>

  <h3>Materials</h3><br>
  <%= f.label "Choose a material" %>
  <%= f.select :material_ids, Material.all.collect {|m| [m.name, m.id] }, include_blank: true %><br>
  <%= f.fields_for :craft_materials do |c| %>
    <%=  c.fields_for :materials do |materials_fields| %>
      <%=     materials_fields.label "Add a new material" %>
      <%=     materials_fields.text_field :name %><br>
    <% end %>
    <%=  c.label "Quantity" %>
    <%=  c.text_field :quantity %>
  <% end %>

<br>  <%= f.submit %>  
<% end %>