<%= link_to "Home", user_path(current_user) %>
<%= link_to "Crafts", crafts_path %>
<%= link_to "Materials", crafts_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>

<h1><%= @craft.title %></h1> 
<p style="background-color: #eaeaea"><%= @craft.method %></p>
<%= link_to @craft.source, @craft.source %>
<p><%= @craft.description %></p>

<%= form_for @project do |f| %>
<%=     f.hidden_field :craft_id, { :value => @craft.id } %>
<%=     f.hidden_field :user_id, { :value => @user.id } %>
<%=     f.submit "Start this project" %>
<% end %>