<%= link_to "Home", user_path(current_user) %>
<%= link_to "Crafts", crafts_path %>
<%= link_to "Materials", materials_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>

<h1><%= @craft.title %></h1> 
<p style="background-color: #eaeaea"><%= @craft.method %></p>
<%= link_to @craft.source, @craft.source %>
<p><%= @craft.description %></p>
Materials
<ul>
<% @craft.craft_materials.each do |m| %>
<li>
    <%= Material.find(m.material_id).name %> - 
    <%= "Quantity: #{m.quantity}" %>
    </li>
<% end %>

</ul>
<%= form_for @project, :url => user_projects_path(@user.id) do |f| %>
<%=     f.hidden_field :craft_id, { :value => @craft.id } %>
<%=     f.hidden_field :user_id, { :value => @user.id } %>
<%=     f.submit "Start this project" %>
<% end %>

<%= form_for @craft, method: "delete" do |f| %>
    <%=     f.submit "Delete this craft" %>
<% end %>