<div class="container">
    <div class="form-card mt-50">
      <h1 class="mb-50">Sign In to CraftPlanner</h1>
      <%= render partial: "layouts/errors", locals: {object: @user} %>

      <h3>Sign in with your user name</h3>
      <%= form_for(:user, url: signin_path) do |f| %>
      <%=     label_tag "Name", nil, class: "label" %>
      <%=     select_tag "user_name", options_from_collection_for_select(@users, "name", "name"), {prompt: 'Select name', class: 'width-60'} %><br>
      <%=     label_tag "Password", nil, class: "label" %>
      <%=     password_field_tag 'password', nil, class: "width-60" %>
      <%=     f.label :password_confirmation, class: "label" %>
      <%=     f.text_field :password_confirmation, class: "width-60" %>
      <br>
      <%=     f.submit 'Sign In' %>
      <% end %>
      <h3 class="bordered">Sign in with your Twitter account</h3>
      <%= link_to "Sign in with Twitter", "/auth/twitter", class: "button" %>
  </div>
</div>