<h1>Your CraftPlanner</h1>

<h3>Incomplete Projects</h3>

<table>
    <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Actions</th>
    </tr>
    <% @projects.incomplete.each do |p| %>
        <tr>
            <td><strong><%= link_to p.craft.title, craft_path(p.craft.id) %></strong></td>
            <td>Started <%= p.start_date.strftime("%A, %b %e, %Y") %></td>
            <td>none</td>
            <td>
                <%= form_for p, :url => user_project_path(@user.id) do |f| %>
                <%=     f.hidden_field :id, { :value => p.id } %>
                <%=     f.hidden_field :end_date, { :value => DateTime.now } %>
                <%=     f.submit "End project" %>
                <% end %>

                <%= form_for p, :url => user_project_path(@user.id), method: "delete" do |f| %>
                <%=     f.hidden_field :id, { :value => p.id } %>
                <%=     f.submit "Delete project" %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

<h3>Completed Projects</h3>

<table>
    <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Actions</th>
    </tr>
    <% @projects.complete.each do |p| %>
        <tr>
            <td><%= link_to p.craft.title, craft_path(p.craft.id) %></td>
            <td>Started <%= p.start_date.strftime("%A, %b %e, %Y") %></td>
            <td>Finished <%= p.end_date.strftime("%A, %b %e, %Y") %></td>
            <td>
                <%= form_for p, :url => user_project_path(@user.id), method: "delete" do |f| %>
                <%=     f.hidden_field :id, { :value => p.id } %>
                <%=     f.submit "Delete project" %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>