<%= link_to "Crafts", crafts_path %>
<%= link_to "Materials", materials_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>
<h1>Show page for <%= @user.name %>!</h1>

<%= link_to "My projects", user_projects_path(current_user.id) %>