<%= link_to "Crafts", crafts_path %>
<%= link_to "Materials", materials_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>
<h1>Show page for <%= @user.name %>!</h1>

<h2>Current Projects</h2>

<ul>
<% @projects.each do |p| %>
    <li><%= link_to p.craft.title, craft_path(p.craft.id) %> | Started on <%= p.start_date.strftime("%A, %b %e, %Y") %></li>
<% end %>
</ul>