<%= link_to "Home", user_path(current_user) %>
<%= link_to "Crafts", crafts_path %>
<%= link_to "Materials", materials_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>

<h1>My Projects</h1>

<ul>
<% @projects.each do |p| %>
    <li><%= link_to p.craft.title, craft_path(p.craft.id) %> | 
    Started <%= p.start_date.strftime("%A, %b %e, %Y") %>
    <% if p.done? %>
    | Finished <%= p.end_date.strftime("%A, %b %e, %Y") %>
    <% else %>
        <%= form_for p, :url => user_project_path(id: @user.id) do |f| %>
        <%=     f.hidden_field :end_date, { :value => DateTime.now } %>
        <%=     f.submit "End project" %>
        <% end %>
    <% end %>
<%= link_to "Delete Project", user_projects_path, method: "delete" %></li>
<% end %>
</ul>