<%= link_to "Home", user_path(current_user) %>
<%= link_to "Crafts", crafts_path %>
<%= link_to "Materials", materials_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>

<h1>My Projects</h1>

<ul>
<% @projects.each do |p| %>
    <li><%= link_to p.craft.title, craft_path(p.craft.id) %> | Started on <%= p.start_date.strftime("%A, %b %e, %Y") %> | 
    <%= link_to "End Project", user_projects_path, method: "delete" %> <%= link_to "Delete Project", user_projects_path, method: "delete" %></li>
<% end %>
</ul>