<div class="container">
    <div class="form-card mt-50">
<h1>Add a material to your stash</h1>

<%= render partial: "layouts/errors", locals: {object: @user_material} %>

<%= form_for @user_material, :url => user_user_materials_path, :html => {:id => "new-user-material"} do |um| %>
      <%= um.hidden_field :user_id, { :value => current_user.id } %>
      
      <div class="box">
      <%= um.label "Name", class: "label" %>
      <%= um.select :material_id, Material.all.collect {|m| [m.name, m.id] }, include_blank: true, :prompt => 'Choose a material' %><br>
    
      <%= um.fields_for :material do |mat| %>
        <%= mat.label "Or enter a new material name", class: "label pt-20" %><br>
        <%= mat.text_field :name, class: "width-100" %>
      <% end %>
      </div>
      
      <div>
      <%= um.label "Quantity", class: "label" %><br>
      <%= um.text_field :quantity, class: "width-60" %>
      </div>
  <%= um.submit "Add to Stash" %>
<% end %>
</div>
</div>

<%= javascript_include_tag "new_user_material" %>