<h1>Add a material to your stash</h1>

<% if @user_material.errors.any? %>
  <div id="error_explanation">
    <p>Please fix the following <%= pluralize(@user_material.errors.count, "error") %>:</p>
  </div>
<% end %>

<%= form_for @user_material, :url => user_user_materials_path do |um| %>
      <%= um.hidden_field :user_id, { :value => current_user.id } %>
      <%= um.fields_for :material do |mat| %>
        <%= mat.label "Name:" %>
        <%= mat.text_field :name %></p>
      <% end %>
  <%= um.submit "Add to Stash" %>
<% end %>