<h1>Add a material to your stash</h1>

<%= render partial: "layouts/errors", locals: {object: @user_material} %>

<%= form_for @user_material, :url => user_user_materials_path do |um| %>
      <%= um.hidden_field :user_id, { :value => current_user.id } %>
      <%= um.label "Name:" %>
      <%= um.select :material_id, Material.all.collect {|m| [m.name, m.id] }, include_blank: true %><br>
    
      <%= um.fields_for :material do |mat| %>
        <p>Or add a new material</p>
        <%= mat.label "Name:" %><br>
        <%= mat.text_field :name %>
      <% end %>
      
      <div>
      <%= um.label "Quantity:" %><br>
      <%= um.text_field :quantity %>
      </div>
  <%= um.submit "Add to Stash" %>
<% end %>