<div class="container">
        <div class="table-card mt-50">
            <div class="display-flex">
                <h1>Materials</h1>
                <%= link_to "Add a new material", new_material_path, class: "button self-center ml-20" %>
            </div>

        <table class="shadow">
            <tr>
                <th>Name</th>
                <th>Find Crafts</th>
            </tr>
        <% @materials.each do |m| %>
            <tr>
                <td class="stash-row row">
                    <%= m.name %>
                    <div id="material-<%= m.id %>" class="pt-20"></div>
                </td>
                <td class="row">
                    <a href="<%= material_crafts_path(m.id) %>" class="button-gray display-inline-block craft-btn" id="button-<%= m.id %>" data-id=<%= m.id %> >Show crafts</a>
                </td>
            </tr>
        <% end %>
    </table>
    </div>
</div>

<!-- TODO: List crafts per material here using JSON >
<%= javascript_include_tag "materials_list" %>