<h1>New Material</h1>

<%= render partial: "layouts/errors", locals: {object: @material} %>

<%= form_for @material do |f| %>
    <%= f.label "name" %>
    <%= f.text_field :name %>
    <br>
  <%= f.submit %>
<% end %>