<header>
    <% if signed_in? %>
    <%=     link_to "My Planner", user_path(current_user), class: 'button' %>
    <%=     link_to "My Stash", user_user_materials_path(current_user), class: 'button' %>
    <%=     link_to "Craft Projects", crafts_path, class: 'button' %>
    <%=     link_to "Materials", materials_path, class: 'button' %>
    <div class="float-right">
    <p class="display-inline">Hello, <%= current_user.name %>!</p>
    <%=     link_to "Log Out", logout_path, method: "delete", class: 'button' %>
    </div>
    <% else %>
    <%=     link_to "Craftplanner", root_path, class: 'button' %>
    <div class="float-right">
    <%=     link_to "Sign Up", new_user_path, class: 'button' %>
    <%=     link_to "Sign In", signin_path, class: 'button' %>
    </div>
    <% end %>
</header>